body {
	min-width:960px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	background:#79442a url(../images/fundo.png) repeat-x;
	color:#36352e;
	margin:0px;
}
#container {
	width:900px;
	min-width:900px;
	margin:0px auto;
	border-left:2px groove #b19e90;
	border-right:2px groove #b19e90;
}
#logo {
	background:#744529 url(../images/topo.jpg) no-repeat;
	width:900px;
	height:250px;
}
#menu {
	width:900px;
	height:35px;
	background:#744529 url(../images/menu.jpg);
	color:#ffffff;
	line-height:35px;
}
#menu ul {
	padding:0px;
	margin:0px auto;
	text-align:center;
}
#menu li {
	list-style:none;
	display:inline;
}
#menu li a:link {
	height:35px;
	padding:8px 15px 9px 15px;
	text-decoration:none;
	color:#ffffff;
	font-weight:bold;
	font-size:14px;
}
#menu li a:hover {
	background:#744529 url(../images/menuhover.jpg);
}
#menu li a:visited {
	height:35px;
	padding:8px 15px 9px 15px;
	text-decoration:none;
	color:#ffffff;
	font-weight:bold;
	font-size:14px;
}
#corpo {
	width:870px;
	padding:15px 15px 30px 15px;
	background:#ffffff;
	clear:both;
	float:left;
}
#rodape {
	width:870px;
	padding:15px 15px 30px 15px;
	background:#ffffff;
	clear:both;
	float:left;
}
#rodape p {
	border-top:1px solid #d4d0af;	
	font-size:12px;
	color:#666666;
	margin:0px;
	text-align:center;
}
#titulocard {
	width:225px;
	padding:3px 0px 3px 0px;
	background-color:#5c1e00;
	border:1px groove #b19e90;
	color:#ffffff;
	font-weight:bold;
	text-indent:10px;
	float:left;
	clear:left;
}
#cardapio {
	width:205px;
	height:200px;
	padding:10px;
	background-color:#ffffff;
	border:1px groove #b19e90;
	float:left;
	clear:left;
	overflow:auto;
}
#titulodisk {
	width:225px;
	padding:3px 0px 3px 0px;
	background-color:#5c1e00;
	border:1px groove #b19e90;
	color:#ffffff;
	font-weight:bold;
	text-indent:10px;
	float:left;
	clear:left;
	margin-top:15px;
}
#disk {
	width:205px;
	height:57px;
	padding:10px;
	background-color:#ffffff;
	border:1px groove #b19e90;
	float:left;
	clear:left;
}
#disk p {
	margin:10px;
}
#titulooferta {
	width:620px;
	padding:3px 0px 3px 0px;
	background-color:#5c1e00;
	border:1px groove #b19e90;
	color:#ffffff;
	font-weight:bold;
	text-indent:10px;
	float:right;
}
#oferta {
	width:600px;
	height:320px;
	padding:10px;
	background:#ffffff url(../images/oferta.jpg);
	border:1px groove #b19e90;
	float:right;
}
#quadroferta {
	width:220px;
	height:60px;
	padding:10px;
	background-image:url(../images/fundoferta.png);
	border:1px groove #ffffff;
	float:right;
	margin-top:230px;
}
#titulopedido {
		width:870px;
		padding:3px 0px 3px 0px;
		background-color:#5c1e00;
		border:1px groove #b19e90;
		color:#ffffff;
		font-weight:bold;
		text-indent:10px;
		float:right;
		margin-top:15px;
}
#pedido {
	width:850px;
	padding:10px;
	border:1px groove #b19e90;
	float:right;
}
#pedido h1 {
	font-size:17px;
	margin-bottom:20px;
}
#pedido label {
	width:100px;
	float:left;
	clear:left;
	padding:5px;
	margin-bottom:5px;
}
#pedido input {
	width:720px;
	float:right;
	clear:right;
	padding:5px;
	margin-bottom:7px;
	border:1px groove #b19e90;
}
#pedido .enviar {
	width:60px;
	float:right;
	padding:5px;
	margin:0px;
}
#pedido .enviar:active {
	border:1px inset #998566;
	background-color:#e9e3da;
}